---
layout: default
---

{% assign entries = site.data.contentful.spaces.forestcc.post | sort: 'date' | reverse %}

<h1>Announcements</h1>
<div class="row posts">
    {% for entry in entries %}
    {% if entry.type == 'Announcement' %}
    <div class="col-md-4 post">
        <div class="post-block">
            <a href="/announcements/{{ entry.sys.id }}">
                <div class="post-image" style="background-image: url({{ entry.image.url}}?w=400)">
                    <div class="post-text">
                        <p>{{ entry.date | date: '%B %-d, %Y' }}</p>
                        <h1>{{ entry.title }}</h1>
                    </div>
                </div>
            </a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>