---
layout: default
---
<div class="detail">
    <div class="head">
        <h1>Lorem ipsum dolor sit amet, veri recusabo ius ut</h1>
        <p>June 18, 2017</p>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <img src="https://placeimg.com/1140/600/nature" class="img-responsive"/>
            <div class="body">
                <p>Lorem ipsum dolor sit amet, veri recusabo ius ut. Assum vocent vix at, facete recusabo intellegebat sed no. Pri ea etiam singulis argumentum, modo causae an ius. Inani graece scribentur ius ei.</p>
                <p>Ornatus apeirian dissentias ne est. Ut vix etiam omittam dignissim, nostrud dissentiunt et mea, ad pri solum dictas comprehensam. Brute persius forensibus ea his, legere voluptatibus ne mel. Vix eius doming at, semper hendrerit mel in. Nec odio possit argumentum ex, vim ei ornatus aliquando persecuti. Sed ad fabellas theophrastus, ex sonet ludus per, vix id idque dicat ignota. An sonet reprimique vel.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <h3 class="more">Recent Events</h3>

            <div class="list-item">
                <a href="/events/detail">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="list-img" style="background-image: url('https://placeimg.com/100/75/arch')"></div>
                        </div>
                        <div class="col-xs-8">
                            <div class="list-text">
                                <p>June 12, 2017</p>
                                <h4>Lorem ipsum dolor sit amet, veri recusabo ius ut.</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="list-item">
                <a href="/events/detail">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="list-img" style="background-image: url('https://placeimg.com/100/75/nature')"></div>
                        </div>
                        <div class="col-xs-8">
                            <div class="list-text">
                                <p>June 12, 2017</p>
                                <h4>Lorem ipsum dolor sit amet, veri recusabo ius ut.</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="list-item">
                <a href="/events/detail">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="list-img" style="background-image: url('https://placeimg.com/100/75/people')"></div>
                        </div>
                        <div class="col-xs-8">
                            <div class="list-text">
                                <p>June 12, 2017</p>
                                <h4>Lorem ipsum dolor sit amet, veri recusabo ius ut.</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="list-item">
                <a href="/events/detail">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="list-img" style="background-image: url('https://placeimg.com/100/75/tech')"></div>
                        </div>
                        <div class="col-xs-8">
                            <div class="list-text">
                                <p>June 12, 2017</p>
                                <h4>Lorem ipsum dolor sit amet, veri recusabo ius ut.</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="list-item">
                <a href="/events/detail">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="list-img" style="background-image: url('https://placeimg.com/100/75/animals')"></div>
                        </div>
                        <div class="col-xs-8">
                            <div class="list-text">
                                <p>June 12, 2017</p>
                                <h4>Lorem ipsum dolor sit amet, veri recusabo ius ut.</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>