---
layout: default
event_date: 2015-01-01
---

{% assign home = site.data.contentful.spaces.forestcc.homePage[0] %}
{% assign media = site.data.contentful.spaces.forestcc.media | sort: 'date' | reverse %}
{% assign pages = site.data.contentful.spaces.forestcc.page %}
{% assign listPages = site.data.contentful.spaces.forestcc.pageList %}
{% assign posts = site.data.contentful.spaces.forestcc.post | sort: 'date' | reverse %}
{% assign events = site.data.contentful.spaces.forestcc.post | sort: 'event_date' | reverse | where:"type", "Event" %}

<div class="visiting">
    <a href="/connect">
        <h1>Visiting?</h1>
    </a>
</div>

<div class="row">
    <!-- POSTS -->
    <div class="col-md-12 posts main">
        <div class="row">
            <div class="col-md-8">
                <div class="post big">
                    <div class="post-block">
                        <div class="hero-carousel">
                            <a href="/connect">
                                <div class="carousel slide" data-ride="carousel">
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        {% for h in home.hero_images %}
                                            {% if forloop.index0 == 0 %}
                                            <div class="item active">
                                                <div class="post-image" style="background-image: url({{h.url}}?w=750)">
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if forloop.index0 > 0 %}
                                            <div class="item">
                                                <div class="post-image" style="background-image: url({{h.url}}?w=750)">
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="hero-text">
                                    {{ home.welcome_text | markdownify }}
                                </div>
                                <!--<div class="post-image" style="background-image: url({{home.main_image.url}}?w=750)">-->
                                <!--<div class="post-text">-->
                                <!--{{ home.welcome_text | markdownify }}-->
                                <!--</div>-->
                                <!--</div>-->
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 post">
                        <div class="post-block">
                            <a href="/events">
                                <div class="post-image" style="background-image: url({{events[0].image.url}}?w=720)">
                                    <div class="post-text">
                                        <h1>Events</h1>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 post">
                        <div class="post-block">
                            <a href="/sermons">
                                <div class="post-image"
                                     style="background-image: url({{ home.sermons_image.url }}?w=720)">
                                    <div class="post-text">
                                        <h1>Sermons</h1>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4 posts recent">
                <h3 class="more alt-bg"><a href="/whats-new">What's New</a></h3>
                <div></div>
                <div class="row">
                    {% for post in posts limit:6 %}
                    <div class="col-md-12 post">
                        <div class="post-block list">
                            <a href="/{{ post.type | downcase }}s/{{ post.sys.id }}">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="post-image list-thumb"
                                             style="background-image: url({{ post.image.url}}?w=250)">
                                        </div>
                                    </div>
                                    <div class="col-xs-8">
                                        <div class="list-text">
                                            <!--<p>{{ post.date | date: '%B %-d, %Y' }}</p>-->
                                            <p>{{ post.type | upcase}}</p>
                                            <h1>{{ post.title }}</h1>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-12 posts main">
                <div class="row">
                    <div class="col-md-4 post">
                        <div class="post-block">
                            <a href="/house-church-groups">
                                {% for p in listPages %}
                                {% if p.page_title == 'House Church Groups' %}
                                <div class="post-image" style="background-image: url({{ p.image.url}}?w=720)">
                                    <div class="post-text">
                                        <h1>House Church</h1>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 post">
                        <div class="post-block">
                            <a href="https://www.facebook.com/forestcommunitychurch" target="_blank">
                                <div class="post-image"
                                     style="background-image: url({{home.facebook_image.url}}?w=720)">
                                    <div class="post-text">
                                        <h1>Check out our service on Zoom every Sunday at 10am!</h1>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 post">
                        <div class="post-block">
                            <a href="/Forest-Youth-Group">
                                {% for p in pages %}
                                {% if p.page_title == 'Forest Youth Group' %}
                                <div class="post-image" style="background-image: url({{ p.image.url}}?w=720)">
                                    <div class="post-text">
                                        <h1>FYG - Forest Youth Group</h1>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END POSTS -->
</div>