---
layout: default
---
<h1>Sermons</h1>
<div class="row posts">
    <div class="col-md-4 post">
        <div class="post-block">
            <a href="#">
                <div class="post-image" style="background-image: url('https://placeimg.com/360/380/nature')">
                </div>
            </a>
            <h1>Size of a Mustard Seed</h1>
            <p>June 25, 2017</p>
        </div>
    </div>
    <div class="col-md-4 post">
        <div class="post-block">
            <a href="#">
                <div class="post-image" style="background-image: url('https://placeimg.com/360/380/arch')">
                </div>
            </a>
            <h1>Size of a Mustard Seed</h1>
            <p>June 25, 2017</p>
        </div>
    </div>
    <div class="col-md-4 post">
        <div class="post-block">
            <a href="#">
                <div class="post-image" style="background-image: url('https://placeimg.com/360/380/tech')">
                </div>
            </a>
            <h1>Size of a Mustard Seed</h1>
            <p>June 25, 2017</p>
        </div>
    </div>
</div>
<div class="row posts">
    <div class="col-md-4 post">
        <div class="post-block">
            <a href="#">
                <div class="post-image" style="background-image: url('https://placeimg.com/360/380/animals')">
                </div>
            </a>
            <h1>Size of a Mustard Seed</h1>
            <p>June 25, 2017</p>
        </div>
    </div>
    <div class="col-md-4 post">
        <div class="post-block">
            <a href="#">
                <div class="post-image" style="background-image: url('https://placeimg.com/360/380/tech')">
                </div>
            </a>
            <h1>Size of a Mustard Seed</h1>
            <p>June 25, 2017</p>
        </div>
    </div>
    <div class="col-md-4 post">
        <div class="post-block">
            <a href="#">
                <div class="post-image" style="background-image: url('https://placeimg.com/360/380/nature')">
                </div>
            </a>
            <h1>Size of a Mustard Seed</h1>
            <p>June 25, 2017</p>
        </div>
    </div>
</div>