<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img class="img-responsive" src="/assets/img/fcc_green_horizontal_561x156.png">
                <p>Copyright &copy; 2021</p>
            </div>

            <div class="col-md-6">
                <p class="mission">As God's forest in the DFW area, we want to seek the glory of Jesus Christ, save the lost, strengthen the saved, serve the needy and send workers for global harvest.</p>
                <p>3665 W. President George Bush Hwy, Plano, TX 75075</p>
            </div>

            <div class="col-md-3">

                <p>
                    <a href="https://www.facebook.com/forestcommunitychurch/" target="_blank"><img class="fb logo" src="/assets/img/fb-min.png"></a>
                    <a href="mailto:info@forest.church">info@forest.church</a>
                </p>
                <!--<p><a href="mailto:info@forest.church">info@forest.church</a></p>-->
                <a href="https://anchor.fm/forest-community-church"><img src="/assets/img/Anchor.png" alt="Anchor Podcasts"/></a>
            </div>
        </div>
    </div>
</div>