{% assign header = site.data.contentful.spaces.forestcc.header[0] %}
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="alert alert-danger" role="alert">
          <strong>Please join us Sundays 1pm CT at FBC Plano located at 3665 W President George Bush Hwy, Plano, TX 75252.</strong> <p>** YouTube and Facebook Live can be found here: <a href="http://www.forest.church/connect" class="alert-link"> Please click here for more information. **</p>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/assets/img/fcc_green_horizontal_561x156.png"/></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% for item in header.items %}
                {% if item.children == null %}
                <li><a href="/{{ item.page_name  | slugify }}">{{ item.page_title }}</a></li>
                {% endif %}
                {% if item.children != null %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ item.title }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    {% for child in item.children %}
                        <li><a href="/{{ child.page_name | slugify }}">{{ child.page_title }}</a></li>
                    {% endfor%}
                    </ul>
                </li>
                {% endif %}
                {% endfor %}
                <li><a href="/media">Media</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
        <!--<div class="tags visible-md visible-lg">
          <ul class="nav navbar-nav navbar">
            {% for tag in tags %}
            <li><a href="#">{{ tag.tag }}</a></li>
            {% endfor %}
          </ul>
        </div>-->
    </div><!-- /.container -->
</nav>