---
layout: default
---

{% assign entries = site.data.contentful.spaces.forestcc.media | sort:'date' | reverse %}

<h1>Media</h1>
<div class="row posts">
    {% for entry in entries %}
    <div class="col-md-4 post">
        <div class="post-block">
            <a href="/media/{{ entry.sys.id }}">
                <div class="post-image" style="background-image: url({{ entry.image.url}}?w=400)">
                    <div class="post-text">
                        <p>{{ entry.date | date: '%B %-d, %Y' }}</p>
                        <h1>{{ entry.title }}</h1>
                        <p class="media tag">
                            {% if entry.type == "Video" %}
                            <i class="glyphicon glyphicon-play-circle"></i>
                            {% endif %}

                            {% if entry.type == "Gallery" %}
                            <i class="glyphicon glyphicon-picture"></i>
                            {% endif %}

                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>