.detail {
  .head {
    margin-bottom: 25px;
    p {
      font-size: 18px;
      font-family: "Open Sans", sans-serif;
    }
    h1 {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }
  .body {
    font-size: 16px;
    margin-top: 25px;
    line-height: 28px;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.detail-image {
  width: 100%;
  height: 400px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery-thumb {
  width: 100%;
  height: 150px;
  margin-bottom: 30px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}