.footer {
  padding: 25px 0;
  border-radius: 0;
  background-color: $nav-bg;
  font-size: 14px;
  color: #949598;
  .mission {
    font-size: 14px;
  }
  p {
    margin-bottom: 15px;
  }
  h3 {
    font-size: 20px;
    margin-bottom: 25px;
  }
  img {
    max-height: 65px;
    margin-top: -10px;
  };
  img.logo {
    //margin: 0 auto;
    text-align: center;
    height: 75px;
    display: block;
    margin-bottom: 15px;
    &.fb {
      display: inline-block;
      margin-right: 15px;
      height: 20px;
      padding: 0;
      margin-top: 0;
      margin-bottom: 7px;
      //padding-top: 10px;
    }
  }
  a {
    color: #949598;
    text-decoration: underline;
    &:hover, &:focus {
      color: #949598;
    }
  }
  .fb-page {
    height: 45px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }
}