.navbar-default {
    border-radius: 0;
    background-color: $nav-bg;
    border-color: $nav-bg;
    margin-bottom: 0;
    font-family: 'Roboto Slab', serif;
    .navbar-brand {
        padding: 0;
        height: 90px;
        margin-top: 10px;
        margin-left: 0;
        img {
            height: 90px;
        }
        @media (max-width: 767px) {
            margin-top: 0;
        }
    }
    .navbar-nav {
        &>.open {
            &>a,
            &>a:focus,
            &>a:hover {
                color: $nav-text;
                background-color: $nav-bg;
            }
        }
        &>li {
            &:last-of-type {
                &>a {
                    padding: 45px 0 45px 15px;
                    @media (max-width: 767px) {
                        padding: 10px 15px;
                    }
                }
            }
            &>a {
                padding: 45px 15px;
                color: $nav-text;
                font-size: 12.5px;
                line-height: 24px;
                text-transform: uppercase;
                &:hover,
                &:focus {
                    color: $nav-text;
                    text-decoration: underline;
                }
                @media (max-width: 767px) {
                    padding: 10px 15px;
                }
            }
            .dropdown-menu {
                background-color: $nav-bg-light;
            }
        }
    }
    .tags {
        border-top: 1px solid #3b3c44;
        .navbar-nav {
            &>li {
                padding: 20px;
                &:first-of-type {
                    padding-left: 0;
                }
                &>a {
                    padding: 0;
                    font-size: 16px;
                    color: #eaeaeb;
                    line-height: 24px;
                    text-transform: none;
                    &:hover,
                    &:focus {
                        color: $nav-text;
                        text-decoration: none;
                    }
                    @media (max-width: 767px) {
                        padding: 10px 15px;
                    }
                }
                .dropdown-menu {
                    background-color: $nav-bg-light;
                }
            }
        }
    }
    .navbar-toggle {
        border: none;
        border-radius: 0;
        padding: 18px;
        margin-top: 20px;
        margin-right: 15px;
        &:hover,
        &:focus {
            background-color: $nav-bg-light;
        }
    }
    .dropdown-menu {
        border: none;
        &>li {
            &>a {
                color: $nav-text;
                &:hover,
                &:focus {
                    color: $nav-text;
                    text-decoration: underline;
                    background-color: $nav-bg-light;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 10px;
        padding-top: 7px;
        img {
            height: 76px;
        }
    }
}

@media (min-width: 768px) {
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 0;
    }
}