.posts {
  a {
    color: #56585c;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  h3 {
    margin-top: 0; //margin-bottom: 15px;
    font-weight: 700;
    border-bottom: 1px solid #56585c;
    padding-bottom: 10px;
    a {
      //color: #2b2d32;
    }
  }
  &.main {
    //border-right: 1px solid #d5d5d6;
    .post {
      .post-image {
        width: 100%;
        height: 175px;
        margin-bottom: 5px;
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .post-block {
        padding-bottom: 15px;
        margin-bottom: 10px;
        &.list {
          padding-bottom: 5px;
        }
      }
    }
  }
  .recent {
    .post {
      h1 {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    .post-block {
      border-bottom: 1px solid #d5d5d6;
    }
  }
  .post {
    .post-block {
      padding-bottom: 15px;
      margin-bottom: 10px; //border-bottom: 1px solid #d5d5d6;
    }
    .post-image {
      width: 100%;
      height: 200px;
      margin-bottom: 5px;
      background-position: 50% 50%;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      &.list-thumb {
        height: 68px;
      }
      .post-text {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        bottom: 0;
        padding: 15px 0 20px 20px;
        color: white;
        h1 {
          font-size: 22px;
        }
      }
    }
    h1 {
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    p {
      display: inline;
      margin-right: 3px;
      margin-bottom: 0px;
      font-family: 'Open Sans', sans-serif;
      font-size: 12.5px;
      line-height: 20px;
    }
    .tag-link {
      display: block;
      font-family: Dosis, sans-serif;
      color: #ac945c;
      font-size: 12px;
      line-height: 24px;
      font-weight: 500;
      letter-spacing: 0.5px;
      text-decoration: none;
      text-transform: uppercase;
    }
    &.big {
      .post-image {
        height: 375px;
      }
      h1 {
        font-size: 26.5px;
        line-height: 34px;
        margin-top: 5px;
        margin-bottom: 5px;
        height: auto;
        max-height: auto;
      }
      p {
        //font-family: Arvo, serif;
        margin-bottom: 0px;
        font-size: 16px; //line-height: 28px;
        font-weight: 400;
        display: block;
      }
      .tag-link {
        display: block;
        font-family: Dosis, sans-serif;
        color: #ac945c;
        font-size: 12px;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: 0.5px;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}

hr {
  margin: 35px 0;
  border-top: 1px solid #d5d5d6;
}

.overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .35), rgba(0, 0, 0, .35));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .35), rgba(0, 0, 0, .35));
  width: 100%;
  height: 440px;
  opacity: 0;
  transition: opacity 300ms;
}

a.more-link {
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  border: 1px solid #d5d5d6;
  color: #ababad;
  text-transform: uppercase;
  .sidebar & {
    margin-top: 15px;
  }
  .main & {
    margin-bottom: 40px;
  }
}

.details {
}

@media (max-width: 767px) {
  .posts.main {
    border-right: none;
  }
}

.max-lines {
  //display: block; /* or inline-block */
  //text-overflow: ellipsis;
  //word-wrap: break-word;
  //overflow: hidden;
  //max-height: 3.6em;
  //line-height: 1.8em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  p {
    margin: 0;
  }
}

.list-text {
  margin-left: -10px;
}

p.tag {
  text-transform: uppercase;
  font-weight: 700;
  &.media {
    position: absolute;
    bottom: 15px;
    font-size: 30px;
  }
}

.hero-text {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
  padding: 15px 0 20px 20px;
  color: white;
  h1 {
    font-size: 22px;
  }
}

.hero-carousel {
  width: 100%;
  height: 375px;
  position: relative;
}