---
---

@import "colors";
@import "header";
@import "footer";
@import "post";
@import "detail";
@import "sermon";

body {
  //font-family: 'Dosis', sans-serif;
  font-family: "Open Sans", sans-serif;
  color: #56585c;
  h1, h2, h3, h4, h5 {
    font-family: 'Roboto Slab', serif;
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: $nav-text;
    &:hover {
      color: $nav-text;
      text-decoration: underline;
    }
  }
}

h1 {
  margin-bottom: 20px;
}

.list-item {
  display: block;
  border-bottom: 1px solid #d5d5d6;
  padding: 10px 0;
  &:last-child {
    border-bottom: none;
  }
  .list-img {
    width: 100%;
    height: 80px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .list-text {
    margin-left: -10px;
    p, ul {
      font-family: 'Open Sans', sans-serif;
      margin-bottom: 0;
    }
    ul {
      margin-top: 10px;
      padding-left: 30px;
    }
  }
  &.lg {
    padding: 45px 0;
    .list-img {
      height: 400px;
    }
    .list-text {
      margin-left: 0px;
      p {
        margin-bottom: 10px;
      }
    }
  }
  &.md {
    padding: 25px 0;
    .list-img {
      height: 200px;
    }
    .list-text {
      margin-left: 0px;
    }
  }
}

h4 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin: 0;
}

h3 {
  &.more {
    background: #292a2f;
    color: white;
    padding: 10px;
    margin-top: 0;
    border-bottom: none;
    a {
      color: white;
      &:hover, &:focus, &:active {
        text-decoration: none;
      }
    }
    &.alt-bg {
      background: #658529;
    }
  }
}

a {
  color: #56585c;
  &:hover, focus {
    color: #292a2f;
  }
}

.container {
  &.main-content {
    position: relative;
    min-height: 850px;
    padding-top: 45px;
    background: white;
    padding-bottom: 45px;
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.visiting {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 15px;
  padding: 7px 20px 10px 20px;
  background: #658529;
  border-radius: 0 0 15px 15px;
  margin-right: 15px;
  h1 {
    font-size: 18px;
    margin: 0;
    color: white;
  }
  a:hover, a:focus {
    text-decoration: none;
  }
  &:hover {
    background: #577224;
  }
}