---
layout: default
custom_js:
    - lightbox.min.js
---

<div class="detail">
    <div class="head">
        <h1>{{ page.page_name }}</h1>
    </div>
    <iframe src="{{page.google_calendar_link}}"></iframe>
</div>