---
layout: default
custom_js:
    - lightbox.min.js
---

<div class="detail">
    <div class="head">
        <h1>{{ page.page_title }}</h1>
        <p>{{ page.description }}</p>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% for item in page.list_items %}
            <div class="list-item lg">
                <div class="row">
                    <div class="col-sm-7">
                        <a href="{{ item.image.url }}" data-lightbox="group">
                            <img class="img-responsive" src="{{ item.image.url }}?w=650&h=400&fit=fill"/>
                            <!--<div class="list-img" style="background-image: url({{ item.image.url }})"></div>-->
                        </a>
                    </div>
                    <div class="col-sm-5">
                        <div class="list-text">
                            <h2>{{ item.title }}</h2>
                            {{ item.description | markdownify}}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>