--- 
layout: default 
custom_js: 
    - cloudinary.js
    - gallery.js
    - lightbox.min.js
---

{% assign entries = site.data.contentful.spaces.forestcc.media | sort: 'date' | reverse %}

<div id="meta-data" data-tag="{{ page.gallery_tag }}"></div>

<div class="detail">
    <div class="head">
        <h1>{{ page.title }}</h1>
        <p>{{ page.date | date: '%B %-d, %Y' }}</p>
    </div>

    <div class="row">
        <div class="col-sm-8">
            {% if page.type == "Gallery" %}

            {% if page.description.length > 0 %}
            <div class="body">
                {{ page.description | markdownify }}
            </div>
            {% endif %}

            <div id="gallery" class="row"></div>
            {% endif %}

            {% if page.type == "Video" %}
            <div class="videoWrapper">
                <iframe src="//www.youtube.com/embed/{{page.you_tube_id}}"
                        width="560" height="349" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="body">
                {{ page.description | markdownify }}
            </div>
            {% endif %}
        </div>
        <div class="col-sm-4">
            <h3 class="more">Recent Media</h3>

            {% for entry in entries limit:6 %}
            {% if entry.sys.id != page.sys.id %}
            <div class="list-item">
                <a href="/media/{{ entry.sys.id }}">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="list-img" style="background-image: url({{entry.image.url}}?w=250)"></div>
                        </div>
                        <div class="col-xs-8">
                            <div class="list-text">
                                <p>{{ entry.date | date: '%B %-d, %Y' }}</p>
                                <h4>{{ entry.title }}</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
