---
layout: default
---
{% assign posts = site.data.contentful.spaces.forestcc.post | sort:'date' | reverse %}

<div class="detail page">
    <div class="head">
        <h1>{{ page.page_title}}</h1>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <img src="{{ page.image.url }}?w=750" class="img-responsive"/>
            <div class="body">
                {{ page.page_content | markdownify }}
            </div>
        </div>
        <div class="col-sm-4">
            <h3 class="more">What's New</h3>

            {% for post in posts limit:7 %}
            <div class="list-item">
                <a href="/{{ post.type | downcase }}s/{{ post.sys.id }}">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="list-img" style="background-image: url({{ post.image.url}}?w=250)"></div>
                        </div>
                        <div class="col-xs-8">
                            <div class="list-text">
                                <p>{{ post.type | upcase}}</p>
                                <h4>{{ post.title }}</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>