---
layout: default
event_date: 2015-01-01
---

{% assign entries = site.data.contentful.spaces.forestcc.post | sort: 'event_date' | reverse %}

<div class="detail">
    <div class="head">
        <h1>{{ page.title }}</h1>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="detail-image" style="background-image: url('{{page.image.url}}?w=750')"></div>
            {% if page.audio_file %}
            <audio id="player" controls="controls">
                <source src="{{page.audio_file.url}}" type="audio/mpeg">
            </audio>
            {% endif %}
            <div class="body">
                {{ page.description | markdownify }}
            </div>
        </div>
        <div class="col-sm-4">
            <h3 class="more"><a href="/{{ page.type | downcase }}s">Recent {{ page.type }}s</a></h3>

            {% for entry in entries %}
            {% if entry.sys.id != page.sys.id and entry.type == page.type %}
            <div class="list-item">
                <a href="/{{ entry.type | lowercase}}s/{{ entry.sys.id }}">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="list-img" style="background-image: url({{entry.image.url}}?w=250)"></div>
                        </div>
                        <div class="col-xs-8">
                            <div class="list-text">
                                <h4>{{ entry.title }}</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>