---
layout: default
---

{% assign entries = site.data.contentful.spaces.forestcc.post | sort: 'date' | reverse %}

<div class="detail">
    <div class="head">
        <h1>{{ page.title }}</h1>
        {% if page.type != 'Announcement' %}
        <p>{{ page.date | date: '%B %-d, %Y' }}</p>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="detail-image" style="background-image: url('{{page.image.url}}?w=750')"></div>
            {% if page.audio_file %}
            <audio id="player" controls="controls">
                <source src="{{page.audio_file.url}}" type="audio/mpeg">
            </audio>
            {% endif %}
            <div class="body">
                {{ page.description | markdownify }}
            </div>
            {% if page.apple_podcast_url %}
            <div class="image">
                <a href="{{page.apple_podcast_url}}"><img src="/assets/img/Apple_Podcasts_Listen_Badge_222x54.png" alt="Apple Podcasts"/></a>
            </div>
            {% endif %}
        </div>
        <div class="col-sm-4">
            <h3 class="more"><a href="/{{ page.type | downcase }}s">Recent {{ page.type }}s</a></h3>

            {% for entry in entries %}
            {% if entry.sys.id != page.sys.id and entry.type == page.type %}
            <div class="list-item">
                <a href="/{{ entry.type | downcase }}s/{{ entry.sys.id }}">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="list-img" style="background-image: url({{entry.image.url}}?w=250)"></div>
                        </div>
                        <div class="col-xs-8">
                            <div class="list-text">
                                {% if page.type != 'Announcement' %}
                                <p>{{ entry.date | date: '%B %-d, %Y' }}</p>
                                {% endif %}
                                <h4>{{ entry.title }}</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>