---
layout: default
event_date: 2015-01-01
---

{% assign entries = site.data.contentful.spaces.forestcc.post | sort: 'event_date' | reverse %}

<h1>Events</h1>
<div class="row posts">
    {% for entry in entries %}
    {% if entry.type == 'Event' %}
    <div class="col-md-4 post">
        <div class="post-block">
            <a href="/events/{{ entry.sys.id }}">
                <div class="post-image" style="background-image: url({{ entry.image.url}}?w=400)">
                    <div class="post-text">
                        <!--<p>{{ entry.event_date | date: '%B %-d, %Y' }}</p>-->
                        <h1>{{ entry.title }}</h1>
                    </div>
                </div>
            </a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>